#battleField {
    position: relative;
}


.ship{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 2.5%;
    height: 1%;
}

.ship > img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    /*width: 24px;
    height: 4px;*/
}

.squadron{
    position: absolute;
    top:0%;
    left: 0%;
    height: 100%;
    width: 100%;
}


/*PROVISIONAL STYLE*/
#forwardButton{
    position: absolute; top: 0%; left:0%
}

#forwardButton.on{
    background-color: green;
}

#forwardButton.off{
    background-color: red; 
}