#battleField {
    position: relative;
}


.ship{
   /*background-image: url("../../../assets/img-fpw/ship.png");*/
   /*background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; */
    position: absolute;
   

   /* width: 20px;
    height: 4px*/
    width: 5%;
    height: 5%;
}

.ship > img{
    width: 24px;
    height: 4px;
}

.squadron{
    position: absolute;
    top:0%;
    left: 0%;
    height: 100%;
    width: 100%;
}


/*#squadronC4{
    animation-name: example;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes example {
    to {transform: 'rotate(45deg)'}
}
*/