#map_container{
position: relative;
width: 68%;
}

#empire_map{
z-index: 1;
width: 100%;
}

#expansion_map{
z-index: 2;
position: absolute;
left:0%;
bottom:0%;
height:100%;
width: 100%;
}

#map_bar_selector{
display: inline-flex;
flex-direction: row;
align-items: center;
position: absolute;
width: 60%;
left: 20%;
height: 2%;
bottom: 6%;
z-index: 3;
}

#bar{
position: relative;
width: 90%;
height: 100%;
min-height: 10px;
background-image:url("../../../assets/img-home/expansion_bar.png");
background-size: 100% 100%;
}

#drag_item{
z-index: 4;
position: absolute;
left: 0%;
height: 100%;
width: 3%;
min-width: 10px;
background-image:url("../../../assets/img-home/expansion_icon.png");
background-size: 100% 100%;
}

.map_bar_selector_arrow_div{
position: relative;
width: 5%;
margin: 1%;
}

#map_bar_selector_arrow_left{
width: 12px; 
float: right;
}
	
#map_bar_selector_arrow_right{
width: 12px; 
transform: rotate(180deg)
}
