 <!DOCTYPE HTML>
<html lang="en">

<head>	
  <meta charset="utf-8">
  <title>Roman Empire History</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Roman Empire History">
  <meta name="keywords" content="rome, empire, history, map">	
</head>

<body>

<!--HEADER-->	
 <main-header></main-header>

<!--CONTAINER-->  
<div id="contanier" class="flex-container">  

  <!--TIMELINE MENU-->
  <timeline-menu id="timeline_menu_container"></timeline-menu>
  
  <!--CONTENT-->    
  <div id="content" class="container-fluid"> 
     <router-outlet></router-outlet>
  </div>

</div>  
  
<!--FOOTER--> 
<footer>
  <div id="footer" class="container-fluid"></div>   
</footer>

</body>
</html>


