// Define Colors
$wine: #460906; 
$orange: #db4c0a; 
$beige: #facb8d; 
$light-beige:#f8d9b7; 
$sepia: #e5b68b; 
$light-brown: #bd8c42;

//Define fonts
$caligula: caligula, "Times New Roman", Times, serif;
$celtichand: celtichand, "Times New Roman", Times, serif; 

// Define repetitive styles
$wine-text-shadow: -1px -1px 5px  $wine , 1px 1px 5px  $wine , -1px 1px 5px  $wine , 1px -1px 5px  $wine ;



/* COMMON STYLES*/
#rome-header {
height: 80px; 
display: flex;
align-items: center; 
margin:0;
}

.navbar-brand{
font-family: $caligula;
color:$orange;
text-shadow: darkgoldenrod 4px 4px 10px;
font-weight: 200;
-webkit-text-stroke: 1px $beige;
}

.navbar-brand:hover {
color:#d07d2f;
-webkit-text-stroke: 1px $light-beige;
text-shadow: $light-beige 4px 4px 10px;
}

#rome-header-icon {
margin-left: 10px;
height: 60px; 
}

#timeline-header{
white-space: nowrap;
margin-right: 6%;
} 

#timeline-button{
background-color: transparent;
border:none;
border-radius: 10%;
cursor: pointer;
outline: inherit;
padding: 10%;
}

#timeline-button.released{
color: rgb(248, 217, 183);
text-shadow: darkgoldenrod 1px 1px 5px;
border-bottom: 2px solid rgba(0, 0, 0, 0.5);
border-right: 2px solid rgba(0, 0, 0, 0.5);
}

#timeline-button.pressed {
color: rgb(248, 217, 183, 0.8);
background-color:rgba(0, 0, 0, 0.2);
box-shadow:inset 4px 4px 3px rgba(0, 0, 0, 0.8);
border-top: 1px solid rgba(0, 0, 0, 0.5);
border-left: 1px solid rgba(0, 0, 0, 0.5);
}

/* HOME STYLE*/
#header_container{
height: 80px; 
background-color: #252424;
border-bottom: 3px solid #555452;
}

#header_icon{ 
display: none;	
}

#episode-header{
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
}

/*FIST PUNIC WAR STYLE*/

#header_container.fpw {
background-color: $wine;
border-bottom: 3px solid $sepia;
}

#episode-header.fpw{
background-image: url("../../../assets/img/fpw-header-bg.png");
background-size: 100% 100%;
}

#header_title.fpw{
margin:0px;
font-family: $caligula;
font-size: 2rem;
white-space: nowrap;
color:   $light-brown;
text-shadow: $wine-text-shadow;
/*background:-webkit-radial-gradient(center, ellipse,  #bca071 10%, transparent  70%);*/
/*background:-webkit-radial-gradient(center, ellipse,  #bca071 10%, $wine  70%);*/
}

#header_icon.fpw{ 
display:block;
height: 70px;
opacity: 70%;
margin-right: 10px;
}

/*SECOND PUNIC WAR STYLE*/

#header_container.spw {
background-color: $wine ;
border-bottom: 3px solid   $sepia;
}

#episode-header.spw{
background-image: url("../../../assets/img/spw-header-bg.png");
background-size: 100% 80%;
}

#header_title.spw{
margin:0px;
font-family: $caligula;
font-size: 2rem;
white-space: nowrap;
color:   $light-brown;
text-shadow: $wine-text-shadow;
/*background:-webkit-radial-gradient(center, ellipse,  #bca071 10%, transparent  70%);*/
}

#header_icon.spw{
display: block; 
height: 70px;
opacity: 70%;
margin-right: 5px;
}

/*THIRD PUNIC WAR STYLE*/

#header_container.tpw {
background-color: $wine ;
border-bottom: 3px solid $sepia;
}

#header_title.tpw{
font-family: $celtichand;
white-space: nowrap;
color:   $light-brown;
-webkit-text-stroke: $wine 1px ;
text-shadow: $wine-text-shadow;
background:-webkit-radial-gradient(center, ellipse,  #bca071 10%, $wine 70%);
}

#header_icon.tpw{ 
display: block;
height: 70px;
opacity: 70%;
}


