/* COMMON STYLES*/

#rome-header {
height: 80px; 
display: flex;
align-items: center; 
margin:0;
}

.navbar-brand{
font-family: caligula, "Times New Roman", Times, serif;
color:#db4c0a;
text-shadow: darkgoldenrod 4px 4px 10px;
font-weight: 200;
-webkit-text-stroke: 1px #facb8d;
}

.navbar-brand:hover {
color:#d07d2f;
-webkit-text-stroke: 1px #f8d9b7;
text-shadow: #f8d9b7 4px 4px 10px;
}

#rome-header-icon {
margin-left: 10px;
height: 60px; 
}

#timeline-header{
white-space: nowrap;
margin-right: 6%;
} 

#timeline-button{
background-color: transparent;
border:none;
border-radius: 10%;
cursor: pointer;
outline: inherit;
padding: 10%;
}

#timeline-button.released{
color: rgb(248, 217, 183);
text-shadow: darkgoldenrod 1px 1px 5px;
/*box-shadow:inset 2px 2px 5px rgba(0, 0, 0, 0.8);*/
border-bottom: 2px solid rgba(0, 0, 0, 0.5);
border-right: 2px solid rgba(0, 0, 0, 0.5);
}

#timeline-button.pressed {
color: rgb(248, 217, 183, 0.8);
background-color:rgba(0, 0, 0, 0.2);
box-shadow:inset 4px 4px 3px rgba(0, 0, 0, 0.8);
border-top: 1px solid rgba(0, 0, 0, 0.5);
border-left: 1px solid rgba(0, 0, 0, 0.5);
}

/* HOME STYLE*/
#header_container{
height: 80px; 
background-color: #252424;
border-bottom: 3px solid #555452;
}

#header_icon{ 
display: none;	
}

#episode-header{
width: 100%;
height: 100%;
}

/*FIST PUNIC WAR STYLE*/

#header_container.fpw {
background-color: #470a05;
border-bottom: 3px solid #e5b68b;
}

#episode-header.fpw{
width: 100%;
height: 100%;
background-image: url("../../../assets/img/fpw-header-bg.png");
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center; 
}

#header_title.fpw{
margin:0px;
font-family:caligula, "Times New Roman", Times, serif;
font-size: 2rem;
white-space: nowrap;
color:   #bd8c42;
/*-webkit-text-stroke: #460906 1px ;*/
text-shadow: -1px -1px 5px  #460906 , 1px 1px 5px  #460906 , -1px 1px 5px  #460906 , 1px -1px 5px  #460906 ;
/*background:-webkit-radial-gradient(center, ellipse,  #bca071 10%, transparent  70%);*/
/*background:-webkit-radial-gradient(center, ellipse,  #bca071 10%, #460906  70%);*/
}

#header_icon.fpw{ 
display:block;
height: 70px;
opacity: 70%;
margin-right: 10px;
}

/*SECOND PUNIC WAR STYLE*/

#header_container.spw {
background-color: #460906 ;
border-bottom: 3px solid   #e5b68b;
}

#episode-header.spw{
width: 100%;
height: 100%;
background-image: url("../../../assets/img/spw-header-bg.png");
background-size: 100% 80%;
background-repeat: no-repeat;
background-position: center; 
}

#header_title.spw{
margin:0px;
font-family:caligula, "Times New Roman", Times, serif;
font-size: 2rem;
white-space: nowrap;
color:   #bd8c42;
text-shadow: -1px -1px 5px  #460906 , 1px 1px 5px  #460906 , -1px 1px 5px  #460906 , 1px -1px 5px  #460906 ;
/*background:-webkit-radial-gradient(center, ellipse,  #bca071 10%, transparent  70%);*/
}

#header_icon.spw{
display: block; 
height: 70px;
opacity: 70%;
margin-right: 5px;
}

/*THIRD PUNIC WAR STYLE*/

#header_container.tpw {
background-color: #460906 ;
border-bottom: 3px solid #e5b68b;
}

#header_title.tpw{
font-family:celtichand, "Times New Roman", Times, serif;
white-space: nowrap;
color:   #bd8c42;
-webkit-text-stroke: #460906 1px ;
text-shadow: -1px -1px 5px  #460906 , 1px 1px 5px  #460906 , -1px 1px 5px  #460906 , 1px -1px 5px  #460906 ;
background:-webkit-radial-gradient(center, ellipse,  #bca071 10%, #470a05 70%);
}

#header_icon.tpw{ 
display: block;
height: 70px;
opacity: 70%;
}


